#div_container{
    width: 80%;
    background-color: black !important;
    color: white !important;
    height: 600px !important;
    margin: 10px 10px 10px 10px;

}

#div_container div{
    width: 35%;
    margin-left: 10%;
    margin-top: 33px;
    display: inline-block;
    height: 250px;
    background: url("perro.jpeg") aqua no-repeat;
    background-size: cover;
}