<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.AerolineasConnectionString"
            connectionString="Data Source=AULA-E4-PC3\MSSQLSERVER2;Initial Catalog=Aerolineas;User ID=Aeroapp;Password=aeroapp"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.BaseAero210315ConnectionString"
            connectionString="Data Source=AULA-E4-PC9\MSSQLSERVER2;Initial Catalog=BaseAero210315;User ID=sa;Password=cic"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>